.input-chat{
  width: 25vw !important;
  height: 7vh;
  border-radius: 2rem;
  border: 2px solid  #215732 !important;
  padding-left: 20px !important;
}

.input-chat:focus {
  outline: none;
  border: 1px solid rgb(23, 28, 52);
}

.outlined-btn {
  border: 1px solid #302550;
  color: #302550;
  padding: 10px 20px;
  height: 40px;
  text-transform: uppercase;
}

.contained-btn {
  background-color: #302550;
  color: white;
  padding: 5px 20px;
  height: 40px;
  text-transform: uppercase;
}

.disabled-btn {
  background-color: #cac8cd;
  color: rgb(92, 90, 90);
  padding: 5px 20px;
  height: 40px;
  text-transform: uppercase;
  opacity: 0.5;
}

.file-input{
  border: none !important;
}
.relative{
    margin-top: 5vh;
    position: relative;
    text-align: center;
    font-size: 1rem;
    font-weight: 900;
    color: brown;
}
.search-icon-chat{
    position: absolute;
    left: 6vw;
    top: 12.8vh;
    height: 3vh;
    width: 2vw;
    color: brown;
}

.profile-pic{
  height: 3rem;
  border:2px solid #215732;
  border-radius: 50%;
  margin: .25rem;
}

.top-3{
  margin-top: -1.5rem;
}

.users-list-container{
  width: 25vw;
  margin: .25rem 0;
  padding: .5rem ;
}

.user-list-container{
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  margin: .5rem;
  border-radius: 1rem;
background-color: #fff;
height: 12vh;
}

.user-list-container:hover{
  border: 2px solid  #215732;
}

.new-chat-button{
  border: none;
  background-color: #fff;
  font-weight: 900;
  margin-left: -4vw;
  margin-top: 2vh;
}

.chat-area-container{
  margin-top: 2rem;
  margin-right: 1rem;
  height: 74vh;
  width: 69vw;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.recipient-user-container{
  display: flex;
  height: 5vh;
}

.recipient-user-container:focus{
  border: 1.5px solid brown;

}
.name-title-chat{
color: #215732;
text-transform: uppercase;
font-weight: 900 !important;
margin-top: -1rem;
margin-left: 1vw;

}

.chat-area-icon{
  height: 8vh;
  width: 5vh;
  color: brown;
}


.input-type-message{
border: none;
text-align: center;
font-size: larger;
border-radius: 1rem;
height: 100%;
width: 92%;
}
.input-type-message:focus{
  border: none;
}

.chat-input-container:focus{
  border: none;

}

.chat-input-container{
  height: 10vh;
  width: 100%;
  border-radius: 1rem;
  border: 1px solid #215732;
  
}
.chat-btn{
  text-transform: uppercase;
  background-color: white;
  font-size: medium;
height: 9%;
border-top-right-radius: .75rem;
border-bottom-right-radius: .75rem;
  border: none;
margin-bottom: 1px;
position: relative;

}
.send-icon{
  width: 3rem;
  height: 1.5rem;
position: relative;
top: .25rem;
color: #215732;
font-weight: 900;
}

.bg-sender{
  background-color: #215732;
  color: white;
  border-radius: 1rem;
  border-top-right-radius: 0;
  height: 10vh;
  width: 25vw;
  padding: .5rem;
width: initial;
height: inherit;
}

.bg-recipient{
  background-color: brown;
  border-radius: 1rem;
  border-top-left-radius: 0;
  height: 10vh;
  width: 25vw;
  color: white;
  padding: .5rem;
width: initial;
height: inherit;
}

.chat-message-area-container{
  overflow-y: scroll;
  margin: 1rem;
  position: relative;

}
.user-obj-name{
color: #215732;
text-transform: uppercase;
font-weight: 900;
}
.get-last-message{
color: brown;
}

.user-column{
  line-height: 1.235rem;
}

.chat-moment{
  color:#215732;
  position: relative;
  right: -9rem;
  bottom: .5rem;
}

.row{
  display: flex;
  flex-direction: row;
  width: 15vw;
}

.space-between{
  justify-content: space-between;
  width: 100%;
}

.num-unread-msg{
  background-color: brown;
  padding: .15rem .65rem;
color: #fff;
  border-radius: 50%;
}

.text-green{
  color:lightgreen;
  height: 5vh;
  width: 2vw;

}

.text-brown{
  color:black;
  height: 5vh;
  width: 2vw;
}

@media (min-width:1300px) {
  .chat-area-container{
  position: relative;
  right: -12vw;
  top: 2.5vh;
  }
  .search-icon-chat{
    left: 8vw;
    top: 10vh;
    height: 2vh;
    width: 2vw;
    color: #a52a2a;
  }
  .user-list-container{
  height: 7vh;
  }
  .user-column{
    line-height: 2rem;
    width: 20vw;
  }
  .user-obj-name{
    font-size: 25px;
  }
  .get-last-message{
    font-size: 20px;
  }
  .chat-moment{
    right: -17vw;
    bottom: 1vh;
  }
}