@media only screen and (max-width: 700px) and (min-width: 300px) {

  .top-container{
    position: relative;
    top: 3vh;
  }
  .title-event{
    font-size: 27px;
  }
  .event-container{
    width:35vw !important;
    margin: 6rem !important;
    margin-left: 3rem !important;
    height: 60vh;
  }
  .more-info-btn{
    width: 90% !important;
    height: 4rem !important;
    font-size: 15px;
  }
  .text-md{

    font-size: 20px !important;
  }
  .events-page-container{
    display: flex;
   flex-direction: column !important;
  }
  .event-page-description{

    right: -1rem !important;
    top: -50rem !important;
  }
  
}

.event-container{
height: 50vh;
width: 50vw;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}

.search-input{
    height: 50px;
    text-align: center;
    border: 2px solid #215732;
}

.event-border{
  width: 100%;
  } 

.events-container{
      width: 100%;
}

  .column{
    display: flex;
    flex-direction: column;
  }

  .top-container{
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 10vh;
  }
  .title-event{
    margin: auto;    
    color: #215732;
    font-weight: 900;
  }

  .back-to-events{
    background-color: transparent;
    border: none;
    font-size: 15px;
  }

  .back-icon{
    position: relative;
    top: .5vh;
    color: #215732;
  }
  .container{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .event-container{
    width:25vw;
    margin: 5rem;
    margin-left: 10rem;
    height: 60vh;
  }

  .scroll-c {
    align-items: center;
    color: #fff;
    font-family: Montserrat, serif;
    position: fixed;
    bottom: 12.5vh;
    right: 45.5vw;
}

.f-page{
    color:#215732;
}

.scroll__icon {
    font-size: 20px;
    animation: down 2s infinite;
    transform: translateY(-10px);
}

@keyframes down{

    0%{
        transform: translateY(-12px);
    }

    20%{
        transform: translateY(0);
    }
}

.more-info-btn{
  background-color: #215732;
  color: #fff;

}

.more-info-btn:hover{
  background-color: #fff;
  color: #215732;

}

.p-description{
  text-align: start;
  padding: 1rem;
  font-size: 1rem;
}
.flex-start{
  justify-content: flex-start;
}


.events-page-container{
  display: flex;
 flex-direction: row;
}

.event-page-description{
  line-height: 3rem;
  position: relative;
  right: 12rem;
  top: 4rem;
}

.green-1{
  color: #143a20;
}

.green-2{
  color:#215732;
}
.brown{
  color: brown;
}