@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');


  *{
  font-family: 'Montserrat', sans-serif !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
  
  @media only screen and (max-width: 700px) and (min-width: 300px) {

    .p{
      height: 60vh !important;
    }
    .box-login{
      height: 60vh !important;
      width: 95% !important;
      position: relative;
      top: 10rem;
    }
  
    .title-login{
      font-size: 1.75rem !important;
      text-align: center;
    }
    .login-height{
      width: 95%;
      height: 60vh;
      position: relative;
      top: 10rem;
    }
    .input-login{
      width: 100% !important;
      border: 1px solid var(--color-primary) ;
    }
    .design-login-container{
      top: 5px !important;
      /* background-color: var(--color-primary); */
    }
    .flower1{
      height: 18vh !important;
      width: 40vw !important;
      top: -3rem  !important;
      right: 10rem !important;
    }
    .flower5{
      height: 15vh !important;
      top: -8rem !important;
      transform: rotate(-60deg) !important;

    }
    .bird{
      display: none;
    }

    .box-register{
      height: 70vh !important;
      width: 95% !important;
      position: relative;
      top: 10rem;
    }
    .login-padding-top{
      top: 170px !important;
      right: 64px !important;
      /* position:  relative !important; */
    }

    .israelMap{
      position: relative;
      right:2vw !important;
      top: 22vh !important;
      height: 75vh !important;
      width:250% !important;
    }
    .north-container,
.central-container,
.southern-container
{
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: center;
  font-size: 20px !important;
}
.central-container{
padding-inline: 5vw;
top: 75vh !important;
left: 35vw !important;
}
.north-container{
  top: 60vh !important;
  left: 58vw !important;
}
.southern-container{
  top: 90vh !important;
  left: 40vw !important;
}

.event-title-id{
  font-size: 1.5rem !important;
  margin-left: 1rem !important;
  }
  .box{
    height:70vh;
    width: 90% !important;
    margin: auto;
    text-align: center;
    line-height: 40px;
    display: flex;
    flex-direction: column !important;
    justify-content: flex-start;
  }
  .row{
    flex-direction: column !important;
  }
  .img-box{
    width:80vw !important;
    height: 40% !important;
  }
  .description-container{
    width: 80vw !important;
  }
  .p-description{
    font-size: 25px !important;
    line-height: 3.25rem;
  }
  .modal{
    position: relative;
    top: 10rem;
  }
  .button-1{
    width: 20vw !important;
    height: 6vh !important;
    position: relative;
    top: 2rem;
    background-color: #215732;
    font-size: 15px;
    color: white;
    font-weight: 600 !important;
  }
 Table{
  margin-top: 5rem;
 }

  }

  .p{
    height: 100vh;
    width: 100%;
  }

  .column{
    display: flex;
    flex-direction: column;
  }


  .center{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .row{
    flex-direction: row;
  }

.padding-2{
  padding: 2vh;
}


  .box-shadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .button-1{
    width: 10vw;
    height: 6vh;
    background-color: #215732;
    color: white;
    font-weight: 600;
  }

  .pointer{
    cursor: pointer;
  }

  

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: end;
}

.items-between {
  align-items: space-between;
}


.m-1 {
  margin: 10px;
}

.m-2 {
  margin: 20px;
}

.m-3 {
  margin: 30px;
}

.mt-1 {
  color: #373737;
  font-weight: 600;
}
.mt-2 {
  margin-top: 20px;
}
.mt-3 {
  margin-top: 30px;
}

.mb-1 {
  margin-bottom: 10px;
}
.mb-2 {
  margin-bottom: 20px;
}
.mb-3 {
  margin-bottom: 30px;
}

.mr-1 {
  margin-right: 10px;
}
.mr-2 {
  margin-right: 20px;
}
.mr-3 {
  margin-right: 30px;
}

.ml-1 {
  margin-left: 10px;
}
.ml-2 {
  margin-left: 20px;
}
.ml-3 {
  margin-left: 30px;
} 


.p-1 {
  padding: 10px;
}
.p-2 {
  padding: 20px;
}
.p-3 {
  padding: 30px;
}

.pt-1 {
  padding-top: 10px;
}
.pt-2 {
  padding-top: 20px;
}
.pt-3 {
  padding-top: 30px;
}

.pb-1 {
  padding-bottom: 10px;
}
.pb-2 {
  padding-bottom: 20px;
}
.pb-3 {
  padding-bottom: 30px;
}

.pr-1 {
  padding-right: 10px;
}
.pr-2 {
  padding-right: 20px;
}
.pr-3 {
  padding-right: 30px;
}

.pl-1 {
  padding-left: 10px;
}
.pl-2 {
  padding-left: 20px;
}
.pl-3 {
  padding-left: 30px;
}


 .gap-1 {
  gap: 10px;
}

.gap-2 {
  gap: 20px;
}

.gap-3 {
  gap: 30px;
}

.card {
  background-color: white;
  border: 1px solid #b1b1b1;
}

.w-400 {
  width: 400px;
}
.w-96 {
  width: 96px;
}
.content {
  min-height: 85vh;
  border: 1px solid #b1b1b1;
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}

i {
  font-size: 20px;
}

table {
  border: 1px solid #b1b1b1;
}
thead th {
  border-bottom: 1px solid #b1b1b1 !important;
  text-transform: uppercase;
}

.search-input {
  height: 3vh;
  width: 60vw;
  border-radius: 5px;
}

.divider {
  border-bottom: 1px solid #e1e1e1;
  margin: 10px 0;
}


.seat {
  height: 30px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border : 1px solid #b1b1b1;
  cursor: pointer;
}


.selected-seat {
  background-color: #118838;
}

.selected-seat h1 {
  color: white !important;
}

.booked-seat {
  background-color: #b1b1b1;
  cursor: not-allowed;
  pointer-events: none;
}


 textarea , select{
  height: 40px;
  padding-left: 15px;
  border: 1px solid #8a8a8a;
  width: 100%;
}
.input-login{
  height: 8vh;
  width: 40vw;
}
input:focus , textarea:focus , select:focus{
  outline: none;
  border: 1px solid #373737;
}

textarea{
  min-height: 100px;
  padding: 15px;
}

.ant-form-item{
  margin-bottom: 10px;
}


.h-screen{
  height: 100vh;
}

.w-screen{
  width: 100vw;
}
.w-full{
  width: 100%;
}
.w-50{
  width: 80%;
}


.text-sm {
  font-size: 14px;
}

.text-md {
  font-size: 16px;
}

.text-lg {
  font-size: 18px;
}

.text-xl {
  font-size: 20px;
}

.text-2xl {
  font-size: 24px;
}

.text-3xl {
  font-size: 30px;
}

.border {
  border-width: 1px;
}

.br-1 {
  border-radius: 4px; 
} 

:root {
  --color-primary: #215732;
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-error{
  background-color: #ff0000;
}

.bg-warning{
  background-color: #a2840e;
}

.bg-white{
  background-color: white;
}

.bg-black{
  background-color: black;
}

.text-primary {
  color: var(--color-primary) !important;
}

.text-secondary {
  color: var(--color-secondary);
}

.text-black{
  color: #000;
}

.text-white{
  color: #fff;
}

.border-primary {
  border-color: var(--color-primary);
}

.border-secondary {
  border-color: var(--color-secondary);
}  

.name-logged-in{
  color: red;
}


.title-container{
  height: 7vh;
  width: 100%;
  margin-top: 5vh;
}

.title-design{

  text-align: center;
  font-size: 250%;
  font-weight: 800;
  margin-top: 1%;
  font-family: 'Lilita One', cursive;
  background: linear-gradient(to right, rgb(5, 107, 5) 0%,rgb(247, 64, 64) 20%,  #215732 61%), linear-gradient( brown 52%, 60%,rgb(5, 107, 5) 61%); /* you can change the colors based on your preference */
  background-clip: text; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: wave 2000ms ease alternate infinite;
  transition: all 0.4s ease;
}
@keyframes wave {
  0% {
  background-position: 0 0;
  }
  100% {
  background-position: 50vw 10px;
}}

.box{
  height:70vh;
  width: 70%;
  margin: auto;
  text-align: center;
  line-height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.margin-top-2rem{
  margin-top: 2rem;
}
.img-box{
  width: 50vw;
  height: 72.5%;
}
.event-title-id{
font-size: 3rem;
margin-left: 9rem;
color: #215732;
}
.hand{
  height: 20px;
  width: 300px;
  position: relative;
  left: -9rem;
}

.row{
  display: flex;
  flex-direction: row;
}
.num{
  position: relative;
  left: -17rem;
  top:-.25rem;
}
.box-register{
  height: 80vh;
  width: 60vw;
}
.box-login{
  height: 80vh;
  width: 60vw;
}

a{
  color: #373737;
  font-weight: 600;
}
a:hover{
  color: var(--color-primary);
}

.design-login-container{
  height: 80vh;
  width: 60vw;
  position: relative;
  top: -250px;
}

.flower1{
  height: 40vh;
  width: 20vw;
  position: absolute;
  top: 120px; 
  right: 600px; 
}

.flower5{
  height: 35vh;
  width: 10vw;
  position:absolute;
  top: 520px;
right: -50px; 
transform: rotate(15deg);
}

.bird{
  height: 35vh;
  width: 15vw;
  position:absolute;
  top: 120px;
  left: 670px;
right: 100px;
z-index: 2;
}


.login-padding-top{
  position: absolute;
  top: 150px;
  right: 340px;
}

Form{
  z-index: 9999;
}

.title-login{
  font-size: 2rem;
  z-index: 9999;
  color: var(--color-primary);
}

.login-height{
  position: absolute;
  line-height: 60px;
}

.district-container{
  display: flex;
  width: 100%;
  height: 90vh;
  justify-content: center;
  align-items: center;
}
.north-container,
.central-container,
.southern-container
{
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: center;
  font-size: 12px;
}
.central-container{
padding-inline: 5vw;
top: 38vh;
left: 18.5vw;
}
.north-container{
  top: 22vh;
  left: 30vw;
}
.southern-container{
  top: 75vh;
  left: 22vw;
}

.israelMap{
  position: relative;
  right: 10vw;
  top: -8vh;
  height: 90vh;
  width: 70vw;
}

/* *********Humburger */

.hamburger{
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
flex-flow: column nowrap;
z-index: 10;
}

.burger{
  width: 2rem;
  height: .25rem;
  border-radius: 10px;
  background-color: #215732;
  transform-origin: 1px;
  transition: all 0.3s linear;
}

.description-report-page{
  line-height: 2.5rem;
}


