@import url('https://fonts.googleapis.com/css?family=Lato');
/* Add fallback fonts */

body {
    width: 100%;
    height: 100%;
    position: relative;
    
  }

  .loader-parent {
    position: fixed;
    background-color:white;
    inset: 0;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
  }  
  .contents-loading {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    overflow: hidden;
   
    width: 300px;
    font-family: 'Lato', sans-serif !important;
    font-size: 30px;
    line-height: 50px;
    color: #ecf0f1;
  }
  
  .content__container-loading {
    
    overflow: hidden;
    height: 45px;
    padding: 0 ;
    position: relative;
    
  }
  
  .content__container-loading:before {
    left: 0;
    position: absolute;
    top: 0;
    font-size: 42px;
    line-height: 40px;

    animation-name: opacity;
    animation-duration: .5s;
    animation-iteration-count: infinite;
  }
  
  .content__container-loading:after {
    
    right: 0;
    position: absolute;
    top: 0;
    font-size: 42px;
    line-height: 40px;
    animation-name: opacity;
    animation-duration: .5s;
    animation-iteration-count: infinite;
  }
  
  .content__container__text1-loading {
    display: inline;
    float: left;
    margin: 0;
    color: #215732;
    font-weight:900 !important    ;
  }
  .content__container__text2-loading {
    display: inline;
    float: right;
    margin: 0;
    margin-right:140px;
    color: #215732;
    font-weight:900 !important    ;
  }
  
  .content__container__list-loading {
    margin-top: 0;
    padding-left: 23px;
    text-align: left;
    list-style: none;
    animation-name: change;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    color: rgb(134, 55, 55);
    font-weight:900 !important    ;
   
  }
  
  .content__container__list__item-loading{
    line-height: 50px;
    /* margin: 5; */
  }
  .content__container__list__item1-loading{
    line-height: 50px;
    margin-left: 20px;
    
  }

  @keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
  }

  @keyframes change {
    33.32%,45.98% {transform:translate3d(0,-50%,0);}

  }

